@using Microsoft.AspNet.Identity
@using UI.Models


@if (Request.Cookies["UserToken"] != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @{
                if (Request.Cookies["My_Name"] != null)
                {
                    @Html.ActionLink("Hello " + Request.Cookies["My_Name"].Value + " :)", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", id = "UserIdentityID" })
                }
                else
                {
                    @Html.ActionLink("Hello User" + " :)", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", id = "UserIdentityID" })
                }
             }
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" style="color:whitesmoke">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
