@model UI.Models.SocialViewModel



@foreach (var item in Model.ClientPostFeed)
{
    <div class="panel panel-success" style="width:750px">
        <div class="panel-heading">
            <img src="~/Images/MyImage2.png" class="img-circle" alt="Cinque Terre" width="28" height="34">
            Post from -@item.PostOwner.Name, at @item.CreationDate
        </div>
        <div class="panel-body">@item.Content</div>
        <div>
            <img class="img-responsive" src="@item.imageUrl" />
        </div>
        <div class="panel-footer">
            <div class="row" style="text-align:center">
                <div class="col-sm-4">
                    <button type="button" class="btn btn-default" style="color:blue" onclick="AddLike('@item.postID','@item.IsLike');">

                        @if (item.IsLike)
                        {
                            <i class="far fa-thumbs-down"></i>
                            <span>Unlike!!</span>
                        }
                        else
                        {
                            <i class="far fa-thumbs-up"></i>@*&ensp;*@
                            <span>Like!!</span>
                        }
                    </button>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-default" onclick=AddComment() style="color:brown">
                        <i class="far fa-comment"></i>&ensp;
                        <span>Comment</span>
                    </button>
                </div>
                <div class="col-sm-4">
                    @*fas fa-ban btn*@
                    <button type="button" class="btn btn-default" style="color:red" onclick="BlockUser('@item.PostOwner.UserId');">
                        <i class="fa fa-ban"></i>&ensp;
                        <span>Block This User</span>
                    </button>
                    @*<i class="fa fa-ban" style="color:red">Block This User</i>*@
                </div>
            </div>
            <div id="writeCommentID" style="display:none">
                @foreach (var item2 in item.Comments)
                {
                    <br />
                    <br />
                    <div class="panel panel-success" style="width:750px">
                        <div class="panel-heading">
                            <img src="~/Images/MyImage2.png" class="img-circle" alt="Cinque Terre" width="28" height="34">
                            Post from -need to change this, at @item2.CreationDate
                        </div>
                        <div class="panel-body">@item2.Content</div>
                        <div>
                            <img class="img-responsive" src="@item2.ImageUrl" />
                        </div>
                        <div class="panel-footer">
                            <div class="row" style="text-align:center">
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-default" style="color:blue" onclick="AddLikeToComment('@item2.CommentID');"> @*,'@item.IsLike'*@

                                        <i class="far fa-thumbs-up"></i>
                                        <span>Like!!</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <hr />
                <form action="~/Social/CreateComment" method="post" enctype="multipart/form-data" role="form">
                    <input class="col-md-6" name=Comment.Content placeholder="Write a Comment..." style="background-color:white" />&ensp;
                    <input type="file" class="custom-file-input" name=Comment.Picture1 id=Comment.Picture1>
                    <input type="hidden" name="Comment.PostID" value="@item.postID" />
                    <button type="submit" class="btn btn-success">Send</button> &ensp;
                </form>
                <button type="button" class="btn btn-danger" onclick="CommentNone()"> Cancel Comment </button>
            </div>
        </div>
    </div>
}

<script>
    var Identity = document.getElementById("IdentityID");
    var login = document.getElementById("loginID");
    var logoff = document.getElementById("logoffID");

    var addComment = document.getElementById("writeCommentID");

    function AddLike(commentId, isLike) {
        if (isLike) {
            $.get("../Social/AddLikeToComment?PostId=" + commentId, function (response) {
                console.log(response);
            });
        }
        else {
            $.get("../Social/UnlikeComment?PostId=" + commentId, function (response) {
                console.log(response);
            });
        }
    }

    function AddLikeToComment(PostId, isLike) {
        if (isLike) {
            $.get("../Social/AddLikeToPost?PostId=" + PostId, function (response) {
                console.log(response);
            });
        }
        else {
            $.get("../Social/UnlikePost?PostId=" + PostId, function (response) {
                console.log(response);
            });
        }
    }

    function BlockUser(userId) {

        $.get("../Relationship/BlockUser?targetUserId=" + userId, function (response) {
            console.log(response);
        });
    }

    function AddComment() {
        addComment.style.display = "inline";
    }
    function CommentNone() {
        addComment.style.display = "none";
    }

    onload = function () {
        alert("Hello " + $.cookie("My_Name") + " :) ");
    }
</script>

